/* Base styles */
section,
.section-container {
    height: fit-content;
    margin: 0 5%; /* Common margin */
}

/* Breakpoint at 1400px */
@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact,
    #projects {
        height: fit-content;
    }
}

/* Breakpoint at 1200px */
@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }
    #profile,
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: auto; /* Change to auto for better responsiveness */
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
}

/* Breakpoint at 600px */
@media screen and (max-width: 600px) {
    #contact,
    footer {
        max-height: 40vh; /* Use max-height for better adaptability */
    }
    article {
        font-size: 1rem; /* Consider rem for better accessibility */
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem; /* Use rem here as well */
    }
    .experience-sub-title {
        font-size: 1.25rem; /* Consider using rem */
    }
    .logo {
        font-size: 1.5rem; /* Consider using rem */
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw; /* This is good for maintaining aspect ratio */
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem; /* Consider using rem */
    }
    .title {
        font-size: 2rem; /* Consider using rem */
    }
    .text-container {
        text-align: justify;
    }
}
